@charset "utf-8";

//body
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F0F0F0;
    text-align: center;
}

//全て適用
* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    letter-spacing: 0px;
}

//main
main {
    margin-top: 150px;
    & .screen-title__wrap {
        margin-bottom: 46px;
        & .title {
            font-size: 27px;
        }
    }
    & .create-account__wrap {
        background-color: #FFFFFF;
        padding-top: 40px;
        padding-bottom:40px;
        margin: 0 auto auto;
        width: 571px;
        & .form-title {
            & h2 {
                font-size: 24px;
            }
        }
    }
    & #create-account {
        margin-top: 33px;
        // padding: 0 140px;
        & div[class$="outer"] {
            margin:0 auto 20px;
            width: 291px;
            & p {
                text-align: left;
            }
            & p:not(:last-child) {
                font-size: 14px;
                border-bottom: solid 1px #000;
                margin-bottom: 10px;
            }
            & p:last-child {
                font-size: 12px;
                color:#A8A8A8;
            }
            & .input-wrap {
                position: relative;
                & input {
                    background-color: #EDEDED;
                    border: 1px solid #C3C3C3;
                    width: 96%;
                    height: 31px;
                    padding-left: 10px;
                }
                & #password-view__btn {
                    border: none;
                    position: absolute;
                    top: 50%;
                    left: 90%;
                    transform: translateY(-50%);

                    &.hide {
                        &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            background: #000;
                            top: 50%;
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }
        & .button {
            margin-bottom: 20px;
            margin-top: 30px;
            & button {
                cursor: pointer;
                border: none;
                width: 334px;
                height: 39px;
                margin: 0 auto;
                color: #FFFFFF;
                background-color: #57BAD1;
                font-size: 18px;
                transition: all .3s;
                &:hover {
                    background-color: #3fa2b8;
                    transition: all .3s;
                }
            }
        }
    }
}

.error {
    color: red;
}

//footer
footer {
    width: 100%;
    padding: 60px 0;
    position: absolute;
    bottom: 0;
    background-color: #FFFFFF;
    & p {
        color: #747474;
    }
}

